name: Deploy MERN Backend to EC2

on:
  push:
    branches:
      - main   # deploy when code is pushed to main branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 4. Deploy to EC2 using SSH
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/mern-backend   # path where your app lives

            git pull origin main

            npm install

            # Restart app using PM2
            pm2 restart all || pm2 start index.js --name "mern-backend"
